<div class="container">
	<%= render "circles/circle_head", circle: circle %>
	<%= form_with model: [circle, article] do |f| %>
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class:"form-control", id:"exampleFormControlInput1", placeholder:"タイトルを入力してください" %>
		</div>
		<%= f.file_field :image %>
		<div class="form-group">
			<%= f.label :content %>
			<%= f.rich_text_area :content, class:"form-control article-content" %>
		</div>
		<div class="form-group">
			<%= f.submit "送信", class:"btn btn-success" %>
		</div>
	<% end %>
</div>