<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-4">
			<h1>Circle Of Friends</h1>
		</div>
	</div>
	<h3>検索</h3>
	<%= render "search_form", search: @p%>
	<h3>サークル一覧</h3>
	<div class="d-flex flex-column bd-highlight mb-3">
		<% @circles.each do |circle| %>
		<div class="p-2 bd-highlight circle-list">
			<%= link_to circle.name, circle_path(circle) %>
			<br>
			<%= image_tag circle.image, class: "circle-img" if circle.image.attached?%>
			<%= circle.phrase %>
		</div>
		<% end %>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-3">
			<%= link_to "早速立ち上げる", new_circle_path, class: "btn btn-primary btn-lg active" %>
		</div>
	</div>
</div>