<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
		  <% if signed_in? %>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<%= image_tag current_user.avatar, class:'user-avatar' if current_user.avatar.attached? %>
					</li>
					<li class="nav-item">
						<%= current_user.nickname %>
					</li>
					<li class="nav-item">
						<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
					</li>
				</ul>
			<% else %>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<%= link_to "ログイン", new_user_session_path %>
					</li>
					<li class="nav-item">
						<%= link_to "新規登録", new_user_registration_path %>
					</li>
				</ul>
			<% end %>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>